<section class="metas-section">
    <div class="metas-container" [class.visible]="isVisible" id="metas">
        <div class="metas-text">
            <h2>Veja suas metas</h2>
            <p>Estabeleça suas próprias metas e acompanhe o seu progresso. Veja a sua evolução e faça com que outros também possam ver.</p>
            <div class="metas-exemplos">
                <img src="metaexemplo.png" alt="Meta exemplo">
            </div>
        </div>
        <div class="metas-card">
            <img src="celulares_metas.png" alt="Telas de metas">
        </div>
    </div>
</section>
