.hero{
    display: flex;
    justify-content: flex-start; /* conteúdo à esquerda */
    align-items: center;
    margin: 7% auto;
    margin-top: 150px;
    width: 130vh;
    height: 80vh;
    background: 
        linear-gradient(to right, rgba(0,0,0,0.7) 20%, rgba(0, 0, 0, 0.123) 60%, rgba(0, 0, 0, 0) 100%), 
        url(/v688_2540.png) no-repeat center center;
    background-size: cover;
    border-radius: 82px;
    overflow: hidden;
}

.hero-content{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 66px;
}

.hero-content h1{
    color: rgba(255, 255, 255, 1);
    font-family: Inter, sans-serif;
    font-weight: light;
    font-size: 67px;
    margin-bottom: 20px;
}

.hero-content button{
    font-family: Inter, sans-serif;
    font-size: large;
    background: #7fd454;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-content {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.hero-content.visible {
  opacity: 1;
  transform: translateY(0);
}