<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="logo">
    <img src="LogotipoLifit.png" alt="Lifit logo">
  </div>

  <ul class="menu">
    <li><span class="button" routerLink="Home">Home</span></li>
    <!-- Funcionalidades com dropdown -->
    <li class="menu-item funcionalidades"
        (mouseenter)="toggleDropdown(true)"
        (mouseleave)="toggleDropdown(false)">
      <span class="button">Funcionalidades</span>

      <!-- Retângulo com opções -->
      <div class="dropdown" [class.show]="isDropdownOpen">
        <div class="dropdown-item" href="#metas">
          <img src="iconeMetas.png" alt="Metas">
          <h3>Metas</h3>
          <p>Crie suas próprias metas e acompanhe seu progresso</p>
        </div>
        <div class="dropdown-item" href="#eventos">
          <img src="iconeEventos.png" alt="Eventos">
          <h3>Eventos</h3>
          <p>Participe e também crei eventos</p>
        </div>
        <div class="dropdown-item" href="#postagem">
          <img src="iconePostagem.png" alt="Postagem">
          <h3>Postagem</h3>
          <p>Poste fotos e compartilhe sua jornada</p>
        </div>
        <div class="dropdown-item" href="#chat">
          <img src="iconeChat.png" alt="Chat">
          <h3>Chat</h3>
          <p>Converse e interaja com outros usuários</p>
        </div>
      </div>
    </li>

    <li><span class="button" routerLink="FAQ">FAQ</span></li>
    <li><span class="button" routerLink="Empresa">Empresa</span></li>
  </ul>
</nav>
