<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="logo">
    <img src="LogotipoLifit.png" alt="Lifit logo">
  </div>

  <ul class="menu">
    <li><span class="button" (click)="navigateToPage('/Home')">Home</span></li>

    <li class="menu-item funcionalidades"
        (mouseenter)="toggleDropdown(true)"
        (mouseleave)="toggleDropdown(false)">
      <span class="button">Funcionalidades</span>

      <div class="dropdown" [class.show]="isDropdownOpen">
        <a class="dropdown-item" (click)="scrollToSection('metas', $event)">
          <img src="iconeMetas.png" alt="Metas">
          <h3>Metas</h3>
          <p>Crie suas próprias metas e acompanhe seu progresso</p>
        </a>
        <a class="dropdown-item" (click)="scrollToSection('eventos', $event)">
          <img src="iconeEventos.png" alt="Eventos">
          <h3>Eventos</h3>
          <p>Participe e também crei eventos</p>
        </a>
        <a class="dropdown-item" (click)="scrollToSection('postagem', $event)">
          <img src="iconePostagem.png" alt="Postagem">
          <h3>Postagem</h3>
          <p>Poste fotos e compartilhe sua jornada</p>
        </a>
        <a class="dropdown-item" (click)="scrollToSection('chat', $event)">
          <img src="iconeChat.png" alt="Chat">
          <h3>Chat</h3>
          <p>Converse e interaja com outros usuários</p>
        </a>
      </div>
    </li>

    <li><span class="button" (click)="navigateToPage('/FAQ')">FAQ</span></li>
    <li><span class="button" (click)="navigateToPage('/empresa')">Sobre</span></li>
  </ul>
</nav>
