.questions-content {
  margin-top: 100px;
  padding: 0;
  width: 100%;
}

.questions-accordion {
  width: 100%;
  border: none;
  background: #f9f9f9;
}

.questions-item {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.questions-header {
  width: 100%;
  background: #f9f9f9;
  border: none;
  padding: 1.3rem 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.questions-header:hover {
  background: #ececec;
}

.header-text {
  flex: 1;
  text-align: left;
}


.arrow {
  transition: transform 0.3s ease, margin-top 0.3s ease;
}


.arrow.open {
  transform: rotate(90deg);
}


.questions-header.open {
  flex-direction: column;
  align-items: flex-start;
}

.questions-header.open .arrow {
  align-self: flex-end;
  margin-right: 2rem;
  transform: rotate(90deg);
}

.questions-body {
  padding: 1rem 2rem;
  background: #fff;
  color: #333;
  border-top: 1px solid #dadada;
  animation: fadeIn 0.3s ease;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
